body { background: #963d83; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 15px; display: flex; }
.block-cluster-0 { color: #a7bdaf; font-size: 12px; margin-bottom: 5px; }
.block-auth-1 { color: #1786b8; font-size: 17px; margin-bottom: 5px; }
.block-notify-2 { color: #f1e136; font-size: 15px; margin-bottom: 5px; }
.block-database-3 { color: #a94aa8; font-size: 18px; margin-bottom: 5px; }
.block-search-4 { color: #776dd3; font-size: 13px; margin-bottom: 5px; }